<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.saurabh.MQTTJavaPlugin"
      version="0.1.0">
    <name>MQTTJavaPlugin</name>
    <description>Sample PhoneGap MQTT Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,mqtt</keywords>
 
 
    <js-module src="www/MQTTJavaPlugin.js" name="MQTTJavaPlugin">
        <clobbers target="window.MQTTJavaPlugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MQTTJavaPlugin">
                <param name="android-package" value="org.saurabh.MQTTJavaPlugin.MQTTJavaPlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/MQTTJavaPlugin.java" target-dir="src/org/saurabh/MQTTJavaPlugin" />
     </platform>
</plugin>